/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h5 {
  font-family: 'Oregano', cursive;
}
h2,
h3,
h4,
p,
a {
  font-family: 'Averia Serif Libre', cursive;
}
header {
  width: 100%;
  background: rgba(83, 19, 30, 0.9);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}
@media (max-width: 500px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
.logoBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 150px;
  padding: 1% 7%;
}
.logoBox .logo {
  width: 50%;
  padding: 1%;
}
.logoBox h1 {
  color: #E7D7C1;
  font-size: 4rem;
  padding-left: 15%;
}
@media (max-width: 800px) {
  .logoBox {
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .logoBox .logo {
    width: 30%;
    padding: 2% 0;
  }
  .logoBox h1 {
    font-size: 2.5rem;
  }
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}
nav .navVl {
  width: 0;
  height: 30px;
  border: 2px solid #E7D7C1;
  border-radius: 2px;
  margin: 0 -3%;
}
nav .navItem {
  color: #E7D7C1;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}
nav .navItem:hover {
  transform: scale(1.1);
  font-weight: bolder;
}
@media (max-width: 800px) {
  nav {
    width: 60%;
  }
}
@media (max-width: 500px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    padding: 1% 2% 3%;
  }
  nav .navVl {
    border: 1px solid #E7D7C1;
    margin: 0;
  }
  nav .navItem {
    font-size: 1rem;
  }
}
footer {
  width: 100%;
  background-color: #53131e;
}
footer h5 {
  line-height: 3;
  color: #E7D7C1;
  text-align: center;
  font-size: 1.25rem;
}
@media (max-width: 500px) {
  footer h5 {
    font-size: 1.1rem;
  }
}
.top {
  height: 700px;
  margin: 0 auto;
  background-image: url("../img/mainPic.jpg");
  background-color: #023818;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  border-bottom: 6px solid black;
}
.top .infoContainer {
  width: 60%;
  margin: 10% auto 8% auto;
  padding: 2% 2% 2% 2%;
  font-size: 1.8rem;
  font-weight: "";
  line-height: "";
  text-align: center;
  color: #F7EDF0;
  background-color: rgba(2, 56, 24, 0.8);
  border-radius: 25px;
  box-shadow: 0 12px 16px 0 #1f1e1e;
}
.top .buttonContainer {
  width: 60%;
  margin: 0 auto 0 auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.top .buttonContainer .button {
  width: 100%;
  margin: 0 auto 0 -30%;
  padding: 40% 40% 40% 40%;
  font-size: 1.5rem;
  font-weight: "";
  line-height: 1.2;
  color: #F7EDF0;
  background-color: #023818;
  border: 2px outset #044d21;
  border-radius: 25px;
  box-shadow: 0 15px 19px 0 #1f1e1e;
  object-fit: scale;
}
.top .buttonContainer .button:hover {
  background-color: #011f0d;
}
.top .buttonContainer .button:hover span {
  color: #f86880;
}
.top .buttonContainer .button:active {
  box-shadow: 0 7px 11px 0 #1f1e1e;
  transform: translateY(8px);
}
.top .buttonContainer a {
  text-decoration: none;
}
.top .buttonContainer span {
  font-size: 1.1rem;
  font-weight: "";
  line-height: 1;
}
@media (max-width: 500px) {
  .top {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    border-bottom: 5px solid black;
  }
  .top .infoContainer {
    width: 80%;
    margin: 25% auto 12.5% auto;
    padding: 3% 3% 3% 3%;
    font-size: 1.5rem;
    font-weight: "";
    line-height: "";
  }
  .top .buttonContainer {
    width: 50%;
    margin: 0 auto 0 auto;
    padding: "" "" "" "";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  .top .buttonContainer .button {
    width: "";
    margin: "" "" "" "";
    padding: 25% 25% 25% 25%;
    font-size: 1.3rem;
    font-weight: "";
    line-height: "";
  }
}
.bottom {
  width: "";
  margin: 3% 3% 3% 3%;
  padding: "" "" "" "";
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}
.bottom .contentContainer {
  margin: 0 0 4%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-evenly;
}
.bottom .contentContainer img {
  width: 30%;
  margin: "" "" "" "";
  padding: "" "" "" "";
  border: 3px outset #bbc9c2;
  border-radius: 25px;
  box-shadow: 0 5px 8px 0 #1f1e1e;
  object-fit: cover;
}
.bottom .contentContainer .textBlock {
  width: "";
  margin: 0 auto 0 3%;
  padding: 3% 3% 3% 3%;
  font-size: 1.3rem;
  font-weight: "";
  line-height: "";
  background-color: #E0EEE7;
  border: 3px outset #bbc9c2;
  border-radius: 25px;
  box-shadow: 0 5px 8px 0 #1f1e1e;
}
.bottom .contentContainer .textBlock p {
  width: "";
  margin: "" "" "" "";
  padding: 1% 0 1% 0;
  font-size: "";
  font-weight: "";
  line-height: 1.25;
}
.bottom .contentContainerRev {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: stretch;
}
.bottom .contentContainerRev img {
  width: 30%;
  margin: "" '' "" 4%;
  padding: "" "" "" "";
  border: 3px outset #bbc9c2;
  border-radius: 25px;
  box-shadow: 0 5px 8px 0 #1f1e1e;
  object-fit: cover;
}
.bottom .contentContainerRev .textBlock {
  width: "";
  margin: 0 3% 0 auto;
  padding: 3% 3% 3% 3%;
  font-size: 1.3rem;
  font-weight: "";
  line-height: "";
  background-color: #E0EEE7;
  border: 3px outset #bbc9c2;
  border-radius: 25px;
  box-shadow: 0 5px 8px 0 #1f1e1e;
}
.bottom .contentContainerRev .textBlock p {
  width: "";
  margin: "" "" "" "";
  padding: 1% 0 1% 0;
  font-size: "";
  font-weight: "";
  line-height: 1.25;
}
@media (max-width: 800px) {
  .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .bottom .contentContainer {
    width: 50%;
    margin: "" "" "" "";
    padding: 0 2% 0 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bottom .contentContainer img {
    width: 100%;
    margin: 0 2% 0 2%;
    padding: "" "" "" "";
  }
  .bottom .contentContainer .textBlock {
    width: "";
    margin: 1.5% '' '' '';
    padding: "" "" "" "";
  }
  .bottom .contentContainerRev {
    width: 50%;
    margin: "" "" "" "";
    padding: 0 2% 0 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bottom .contentContainerRev img {
    width: 100%;
    margin: 0 2% 0 2%;
    padding: "" "" "" "";
  }
  .bottom .contentContainerRev .textBlock {
    width: "";
    margin: 1.5% '' '' '';
    padding: "" "" "" "";
  }
}
@media (max-width: 500px) {
  .bottom {
    width: "";
    margin: 5% 5% 5% 5%;
    padding: "" "" "" "";
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .bottom .contentContainer {
    width: 95%;
    margin: 0 auto 8% auto;
    padding: "" "" "" "";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bottom .contentContainer img {
    width: 100%;
    margin: 0 auto 2% auto;
    padding: "" "" "" "";
  }
  .bottom .contentContainer .textBlock {
    width: "";
    margin: 0 auto 0 auto;
    padding: 4% 4% 4% 4%;
    font-size: 1.7rem;
    font-weight: "";
    line-height: "";
  }
  .bottom .contentContainerRev {
    width: 95%;
    margin: 0 auto 0 auto;
    padding: "" "" "" "";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bottom .contentContainerRev img {
    width: 100%;
    margin: 0 auto 2% auto;
    padding: "" "" "" "";
  }
  .bottom .contentContainerRev .textBlock {
    width: "";
    margin: 0 auto 0 auto;
    padding: 4% 4% 4% 4%;
    font-size: 1.7rem;
    font-weight: "";
    line-height: "";
  }
}
p:hover span {
  color: #f86880;
}
.topAbout {
  height: 700px;
  background-image: url("../img/heartPears.jpg");
  background-color: #023818;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-bottom: 6px solid black;
}
.topAbout .infoContainer {
  width: 100%;
  margin: "" "" "" "";
  padding: 5% 5% 5% 5%;
}
@media (max-width: 800px) {
  .topAbout .infoContainer {
    width: 75%;
  }
}
@media (max-width: 500px) {
  .topAbout {
    height: 500px;
    border-bottom: 5px solid black;
  }
  .topAbout .infoContainer {
    width: 60%;
    margin: "" "" "" "";
    padding: 4% 4% 4% 4%;
  }
}
.bottomAbout {
  width: "";
  margin: 5% 5% 5% 5%;
  padding: "" "" "" "";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.personContainer {
  width: 100%;
  margin: 0% auto 0% auto;
  padding: "" "" "" "";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.personContainer img {
  width: 98%;
  margin: "" "" "" "";
  padding: "" "" "" "";
  border: 3px outset #bbc9c2;
  border-radius: 25px;
  box-shadow: 0 5px 8px 0 #1f1e1e;
}
.personContainer img:hover {
  box-shadow: 0 10px 16px 0 #1f1e1e;
  transform: scale(1.15);
}
.personContainer .aboutContainer {
  width: 46%;
  margin: 0 auto 0 auto;
  padding: 3% 3% 3% 3%;
  text-align: left;
  background-color: #E0EEE7;
  border: 3px outset #bbc9c2;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 8px 0 #1f1e1e;
}
.personContainer h3 {
  width: "";
  margin: "" "" "" "";
  padding: 1% 1% 1% 1%;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.1;
}
.personContainer h4 {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.1;
}
.personContainer p {
  width: "";
  margin: "" "" "" "";
  padding: 1.5% 1.5% 3% 1.5%;
  font-size: 1.25rem;
  font-weight: "";
  line-height: 1.1;
}
.personContainer .from {
  width: "";
  margin: "" "" "" "";
  padding: "" "" 5% "";
  font-size: 1.4rem;
  font-weight: bold;
  line-height: "";
}
@media (max-width: 500px) {
  .personContainer {
    width: 90%;
    margin: 4% auto 4% auto;
    padding: "" "" "" "";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .personContainer img {
    width: 100%;
    margin: "" "" "" "";
    padding: "" "" "" "";
  }
  .personContainer .aboutContainer {
    width: 100%;
    margin: "" "" "" "";
    padding: "" "" "" "";
  }
}
@media (max-width: 800px) {
  .personContainer {
    width: 100%;
    margin: "" "" "" "";
    padding: "" "" "" "";
  }
  .personContainer h3 {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.1;
  }
  .personContainer h4 {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.1;
  }
  .personContainer p {
    width: "";
    margin: "" "" "" "";
    padding: "" "" 1% "";
    font-size: 1.1rem;
    font-weight: "";
    line-height: 1.1;
  }
  .personContainer .from {
    width: "";
    margin: "" "" "" "";
    padding: "" "" 3% "";
    font-size: 1.2rem;
    font-weight: bold;
    line-height: "";
  }
}
@media (max-width: 675px) {
  .personContainer h3 {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.1;
  }
  .personContainer h4 {
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.1;
  }
  .personContainer p {
    width: "";
    margin: "" "" "" "";
    padding: "" "" 1% "";
    font-size: 0.9rem;
    font-weight: "";
    line-height: 1.1;
  }
  .personContainer .from {
    width: "";
    margin: "" "" "" "";
    padding: "" "" 3% "";
    font-size: 1rem;
    font-weight: bold;
    line-height: "";
  }
}
.personContainerRev {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 500px) {
  .personContainerRev {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
