footer {
    width: 100%;
    background-color: @footer-bg;
    
    h5 {
        line-height: 3;
        color: @header-text;
        text-align: center;
        font-size: 1.25rem;

        @media @mobile {
            font-size: 1.1rem;
        }
    }
}