header {
    .basic-set(@width:100%);
    background: @header-bg;
    .flex(row, space-between, center);
    position: fixed;
    top: 0;

    @media @mobile {
        .flex(column, space-around, center);
    } // Ends @media @mobile
} // Ends header

.logoBox {
    .basic-set(@width:150px, @p-top:1%, @p-right:7%);
    .flex(row, space-evenly, center);

    .logo {
        .basic-set(@width: 50%, @p-top:1%);
    } // Ends .logo

    h1 {
        .basic-set(@p-left:15%);
        .font-set(@size: 4rem);
        color: @header-text;
    } // Ends h1

    @media @tablet {
        .basic-set(@m-top:0, @m-right:auto);
    } // Ends @media @tablet

    @media @tablet-sm {
        .logo {
            .basic-set(@width:28%, @p-top:2%, @p-right:0);
        } // Ends .logo

        h1 {
            .font-set(@size:2.3rem);
        } // Ends h1
    } // Ends @media @tablet-sm

    @media @mobile {
        .logo {
            .basic-set(@width:30%, @p-top:2%, @p-right:0);
        } // Ends .logo

        h1 {
            .font-set(@size:2.5rem);
        } // Ends h1
    } // Ends @media @mobile
} // Ends .logoBox

nav {
    .basic-set(@width:50%);
    .flex(row, space-evenly, center);

    .navVl {
        .basic-set(@width:0, @m-top:0, @m-right:-3%);
        height: 30px;
        border: 2px solid @header-text;
        border-radius: 2px;
    } // Ends .navVl

    .navItem {
        .font-set(@size:1.2rem, @weight:bold);
        color: @header-text;
        text-decoration: none;
        text-align: center;
    } // Ends .navItem

    .navItem:hover {
        .font-set(@weight:bolder);
        transform: scale(1.1);
    } // Ends .navItem:hover

    @media @tablet {
        .basic-set(@width:60%);
    } // ends @media @tablet

    @media @tablet-sm {
        .basic-set(@width:60%);

        .navVl {
            border: 1.5px solid @header-text;
        }
        .navItem {
            .basic-set(@p-top:1%);
            .font-set(@size:0.95rem);
        }
    }

    @media @mobile {
        .basic-set(@width:90%, @p-top:1%, @p-right:2%, @p-bottom:3%);
        .flex(row, space-around, center);

        .navVl {
            .basic-set(@m-top:0);
            border: 1px solid @header-text;
        } // Ends .navVl

        .navItem {
            .font-set(@size:1rem);
        } // Ends .navItem
    } // Ends @media @mobile
} // Ends nav




