header {
    width: 100%;
    background: @header-bg;
    .flex(row, space-between, center);
    position: fixed;
    top: 0;

    @media @mobile {
        .flex(column, space-around, center);
    } // Ends @media @mobile
} // Ends header

.logoBox {
    .flex(row, space-evenly, center);
    width: 150px;
    padding: 1% 7%;

    .logo {
        width: 50%;
        padding: 1%;
    } // Ends .logo

    h1 {
        color: @header-text;
        font-size: 4rem;
        padding-left: 15%;
    } // Ends h1

    @media @tablet {
        margin: 0 auto;
    } // Ends @media @tablet

    @media @tablet-sm {
        .logo {
            width: 28%;
            padding: 2% 0;
        } // Ends .logo

        h1 {
            font-size: 2.3rem;
        } // Ends h1
    } // Ends @media @tablet-sm

    @media @mobile {
        .logo {
            width: 30%;
            padding: 2% 0;
        } // Ends .logo

        h1 {
            font-size: 2.5rem;
        } // Ends h1
    } // Ends @media @mobile
} // Ends .logoBox

nav {
    .flex(row, space-evenly, center);
    width: 50%;

    .navVl {
        width: 0;
        height: 30px;
        border: 2px solid @header-text;
        border-radius: 2px;
        margin: 0 -3%;
    } // Ends .navVl

    .navItem {
        color: @header-text;
        font-size: 1.2rem;
        text-decoration: none;
        font-weight: bold;
        text-align: center;
    } // Ends .navItem

    .navItem:hover {
        transform: scale(1.1);
        font-weight: bolder;
    } // Ends .navItem:hover

    @media @tablet {
        width: 60%;
    } // ends @media @tablet

    @media @tablet-sm {
        width: 60%;

        .navVl {
            border: 1.5px solid @header-text;
        }
        .navItem {
            padding: 1%;
            font-size: 0.95rem;
        }
    }

    @media @mobile {
        .flex(row, space-around, center);
        width: 90%;
        padding: 1% 2% 3%;

        .navVl {
            border: 1px solid @header-text;
            margin: 0;
        } // Ends .navVl

        .navItem {
            font-size: 1rem;
        } // Ends .navItem
    } // Ends @media @mobile
} // Ends nav




