header {
    width: 100%;
    background: @header-bg;
    .flex(row, space-between, center);
    position: fixed;
    top: 0;

    @media @mobile {
        .flex(column, space-around, center);
    }
}

.logoBox {
    .flex(row, space-evenly, center);
    width: 150px;
    padding: 1% 7%;

    .logo {
        width: 50%;
        padding: 1%;
    }

    h1 {
        color: @header-text;
        font-size: 4rem;
        padding-left: 15%;
    }

    @media @mobile {
        .logo {
            width: 30%;
            padding: 2% 0;
        }

        h1 {
            font-size: 2.5rem;
        }
    }
}

nav {
    .flex(row, space-evenly, center);
    width: 50%;

    .navVl {
        width: 0;
        height: 30px;
        border: 2px solid @header-text;
        border-radius: 2px;
        margin: 0 -3%;
    }

    .navItem {
        color: @header-text;
        font-size: 1.2rem;
        text-decoration: none;
        font-weight: bold;
        text-align: center;
    }

    @media @mobile {
        .flex(row, space-between, center);
        width: 90%;
        padding: 1% 2% 3%;

        .navItem {
            font-size: 1.1rem;
        }
    }
}




