// Color assignments 
@header-bg: @dark-scarlet1;
@header-text: @bone;
@dark-bg: @dark-green;
@light-text: @pink-white;
@text-box: @platinum;
@text: black;
@footer-bg: @dark-scarlet2;

// Colors
@dark-scarlet1: rgba(83, 19, 30, 0.9);
@dark-scarlet2: rgb(83, 19, 30);
@bone: #E7D7C1;
@dark-green: rgb(2, 56, 24);
@pink-white: #F7EDF0;
@platinum: #E0EEE7;
@dark-platinum: rgb(187, 201, 194);

// Styles

@border: 3px outset @dark-platinum;
@radius: 25px;

// Responsiveness - Escaped
@mobile: ~"(max-width: 500px)";
@tablet: ~"(max-width: 800px)";
@tablet-sm: ~"(max-width: 675px)";
@desk-lg: ~"(min-width: 1375px)";


// Gradient variables
@color1: rgba(3, 31, 66, 0.75);
@color2: rgba(151, 37, 3, 0.75);
@color3: rgba(71, 9, 9, 0.75);
@color4: rgba(211, 173, 4, 0.75);

@degree: -95deg;

// Animation Keyframe
@keyframes flameBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



